/* function */
.f-l{float: left;}
.f-r{float: right;}
.f-clear:after{
	content: '';
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
}
.f-pr{position: relative;}
.f-pa{position: absolute;}

/* .m-contain{
	background: url('../images/bg.jpg');
}
.m-contain .login .logo img{
	height: 80px;
	width: 80px;
}
.login .logo{
	color: #fff;
}
.login .logo span{
	display: block;
	width: 210px;
	margin-top: 15px;
} */

/* .m-contain .webgl	{
	margin: 20px auto 0;
	width: 800px;
} */
body{
	overflow: hidden;
}

.m-contain .chart-rt{
	right: 0;
	top: 160px;
}
.chart-rt .tp{
	border-radius: 10px;
	overflow: hidden;
	height: 190px;
	width: 250px;
	background: linear-gradient(180deg, rgba(51, 255, 255, .6) 0%, rgba(26, 210, 150, 0.6) 0%, rgba(48, 105, 68, 0.6) 100%, rgba(0, 51, 0, .6) 100%);
	background: -webkit-linear-gradient(180deg, rgba(51, 255, 255, .6) 0%, rgba(26, 210, 150, 0.6) 0%, rgba(48, 105, 68, 0.6) 100%, rgba(0, 51, 0, .6) 100%);
	background: -moz-linear-gradient(180deg, rgba(51, 255, 255, .6) 0%, rgba(26, 210, 150, 0.6) 0%, rgba(48, 105, 68, 0.6) 100%, rgba(0, 51, 0, .6) 100%);
}

.tp .chart{
	margin: 0 auto;
	width: 220px;
	height: 160px;
}
.btm{
	border-radius: 10px;
	margin-top: 20px;
	overflow: hidden;
	background: linear-gradient(180deg, rgba(51, 255, 255, .6) 0%, rgba(51, 255, 255, .6) 0%, rgba(0, 51, 0, .6) 100%, rgba(0, 51, 0, .6) 100%);
	background: -webkit-linear-gradient(180deg, rgba(51, 255, 255, .6) 0%, rgba(51, 255, 255, .6) 0%, rgba(0, 51, 0, .6) 100%, rgba(0, 51, 0, .6) 100%);
	background: -moz-linear-gradient(180deg, rgba(51, 255, 255, .6) 0%, rgba(51, 255, 255, .6) 0%, rgba(0, 51, 0, .6) 100%, rgba(0, 51, 0, .6) 100%);
}
.btm .chart{
	height: 240px;
}
.btm .chart .contain{
	height: 100%;
}
.chart-lt{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 275px;
	height: 200px;
	background: url(../images/三维.jpg) no-repeat center/100% 100%;
	opacity: .8;
}

.range-slider,
.range-slider *{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance: none!important;
}
.range-slider {
	 position: absolute;
	 margin-left: 50%;
	 transform:translate3d(-400px,0,0);
   height: 50px;
   width: 800px;
   cursor: pointer;
   bottom: 0;
}

.range-slider .range-slider-tooltip {
	font-size: 18px;
	position: absolute;
	z-index: 1;
	top: -34px;
	padding: 5px 10px;
	text-align: center;
	opacity: .8;
	color: #333;
	border: 1px solid #ddd;
	border-radius: 6px;
	background-color: #fff;
	text-shadow: 0 1px 0 #f3f3f3;
	display: none;
}

.range-slider input[type=range] {
	position: relative;
	width: 100%;
	height: 2px;
	margin: 17px 0;
	padding: 0;
	cursor: pointer;
	border: 0;
	border-radius: 3px;
	outline: 0;
	background-color: #999;
}

.range-slider input[type=range]::-webkit-slider-thumb {
	/*滑块*/
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.13), 0 0 0 1px rgba(0, 0, 0, 0.02);
	pointer-events: none;
	-webkit-appearance: none!important;
}

.range-slider input[type=range]::-webkit-slider-runnable-track {
	/*轨道*/
	border-radius: 10px;
}


/*Firefox*/

.range-slider input[type=range]::-moz-range-thumb {
	/*滑块*/
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.13), 0 0 0 1px rgba(0, 0, 0, 0.02);
	pointer-events: none;
	-webkit-appearance: none!important;
}

.range-slider input[type=range]::-moz-range-track {
	/*轨道*/
	border-radius: 10px;
}

.range-slider input[type=range]::-moz-range-progress {
	/*已填充的部分*/
	border-radius: 10px;
	background:#059CFA;
}


/*IE 9+*/

.range-slider input[type=range]::-ms-track {
	/*轨道*/
	border-radius: 10px;
	-webkit-appearance: none!important;
}

.range-slider input[type=range]::-ms-thumb {
	/*滑块*/
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background: #fff;
	border:1px solid #d9d9d9;
	box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.13), 0 0 0 1px rgba(0, 0, 0, 0.02);
	pointer-events: none;
	-webkit-appearance: none!important;
}

.range-slider input[type=range]::-ms-fill-lower {
	/*进度条已填充的部分*/
	background:#059CFA;
	border-radius: 10px;
}

.range-slider input[type=range]::-ms-fill-upper {
	/*进度条未填充的部分*/
	background:#333;
	border-radius: 10px;
}


/*自定义*/

.range-bar {
    position: absolute;
    left: 0;
    width: 100%;
    height:50px;
	border-radius: 1px;
	background: #fff;
    background: rgba(255, 255, 255, .4);
    pointer-events: none;
}
.range-bar-active {
    transition: 1s linear;
    bottom: 0;
    width: auto;
	background: rgba(255, 255, 255, .8);
	overflow: hidden;
}
.range-slider.error .range-bar-active{
	background:#f44336;
}
.range-slider.warning .range-bar-active{
	background:#ffc107;
}
.range-slider.success .range-bar-active{
	background:#4caf50;
}