<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='./css/normalize.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='./css/index.css') }}"> {% for jsfile_name in script_list %}
	<script src="{{ host }}/{{ jsfile_name }}.js"></script>
	{% endfor %}

	<script src="https://lib.baomitu.com/jquery/3.3.1/jquery.js"></script>
	<script src="{{ url_for('static', filename='threelib/js/three.js')}}"></script>
	<script src="{{ url_for('static', filename='threelib/js/OrbitControls.js')}}"></script>
	<script src="{{ url_for('static', filename='threelib/js/OBJLoader.js')}}"></script>
	<script src="{{ url_for('static', filename='threelib/js/MTLLoader.js')}}"></script>
	<script src="{{ url_for('static', filename='threelib/js/DragControls.js')}}"></script>
	<script src="{{ url_for('static', filename='threelib/js/TransformControls.js')}}"></script>
	<script src="{{ url_for('static', filename='threelib/js/stats.min.js')}}"></script>
	<script src="{{ url_for('static', filename='threelib/js/dat.gui.min.js')}}"></script>
	<script src="{{ url_for('static', filename='threelib/js/Tween.js')}}"></script>
	<script src="{{ url_for('static', filename='threelib/js/Projector.js')}}"></script>
	<script src="{{ url_for('static', filename='threelib/js/FBXLoader.js')}}"></script>
	<script src="{{ url_for('static', filename='threelib/js/inflate.min.js')}}"></script>
</head>

<body>
	<div class="m-contain f-pr">
		<!-- <div class="login f-clear">
			<div class="logo f-clear f-l">
				<img class="f-l" src="{{ url_for('static', filename='./images/logo.png') }}" alt="">
				<span>国家军事</span>
				<span>National military</span>
			</div>
		</div> -->
		<div class="webgl">
			<div id="Stats-output">
			</div>
			<div id="WebGl-output">
			</div>

			<div class="range-slider custom-range">
				<div class="range-bar"></div>
				<div class="range-bar range-bar-active"></div>
				<span class="range-slider-tooltip"></span>
			</div>

		</div>

		<div class="chart-rt f-pa">
			<div class="tp">
				<div class="chart">
					{{ bar_chart|safe }}
				</div>
			</div>
			<div class="btm">
				<div class="chart">
					{{ pie_chart|safe }}
				</div>
			</div>
		</div>
		<div class="chart-lt">
			<div class="chart">
				{{ line_chart|safe }}
			</div>
		</div>
	</div>

	<!-- <script src='{{ url_for("static", filename="js/home.js" ) }} '></script> -->
	<script>
		/*
  -----------------------------------

  控制首页的JS
  主要是3D 和 进度条两部分

  -----------------------------------
*/

  // 控制条
  ;(function(){
    var
  rgMax = 0,  // JSON中的最大时间戳
  rgMin = 0,  // JSON中的最小时间戳 
  rgTime = 0, // 从json中获取时间戳，计算时间轴的长度  > 多少秒
  range = document.querySelector('.range-slider'),
  rgTrack = document.querySelector('.range-bar-active'), // 走过的轨迹
  disX = 0, // 鼠标距离进度条最左端的距离
  times = [], // 获取json中所有的时间戳
  jsonData, // 获取的JSON信息
  sysTime = 0,  // 系统时间
  signal = false, // 是否重置当前的时间
  currentWidth = 0, // 鼠标点击滚动条后的进度条的宽度
  pastTime = 0;  // 已经走过的时间

  var 
  CALC_SPEED = true;
  allPosx = [], // 存错每个时间点所有的模型的坐标， 用在 render() 函数中实时驱动模型
  allPosy = [], 
  allPosz = [],
  moveSpeedX = [],
  moveSpeedY = [],
  moveSpeedZ = [],
  ctrlModels = [];  //  可以操作的模型，不包括 地形，等这些模型

  
  /**
   * [ 从.json文件中获取模型的坐标信息 ]
   * @ Author: 马瑞华 [ time: 2018-08-10 ]
   * @ Revision: name  [ desc ]
   * 
   * @ ascSort:    { func }  { 用sort()对数组进行升序排序 }
   */
  // 数组升序排序
  function ascSort(a, b) {
    return a - b;
  }

  //  获取数据，将str转化为 JS对象
  $.get("../static/threelib/models/position.json", function (data, status) {
    jsonData = JSON.parse(data);
    console.log(jsonData);
    for (var i in jsonData) {
      times.push(i);
    }
    times.sort(ascSort);      // > [时间戳，时间戳，时间戳]
    rgMax = times[times.length - 1];
    rgMin = times[0];
    sysTime = times[0] * 1;
    rgTime = Math.floor((rgMax - rgMin) / 1000);
    
    beforPos = jsonData[rgMin];

    //  每1秒，控制条增加
    timer = setInterval(ctrlTrack, 1000);
  })

  ///////////////////////////////////////////////////////////////////////
  var scene, renderer, render, light, camera, meshHelper;
  var models_arr = []; //定义储存全局模型变量对象
  var models;
  //创建性能监视器
  function initstats() {
    stats = new Stats();

    stats.setMode(0); // 0: fps, 1: ms

    // Align top-left
    stats.domElement.style.position = 'absolute';
    stats.domElement.style.left = '0px';
    stats.domElement.style.top = '0px';

    document.getElementById("Stats-output").appendChild(stats.domElement);
  }

  function initScene() {
    scene = new THREE.Scene();
  }

  function initSkybox() {
    //创建天空盒
    var path = '{{ url_for("static", filename="threelib/Bridge2/") }}'; //设置路径
    // var path = "../threelib/Bridge2/"; //设置路径
    var directions = ["posx", "negx", "posy", "negy", "posz", "negz"]; //获取对象
    var format = ".jpg"; //格式
    //创建盒子，并设置盒子的大小为( 500, 500, 500 )
    var skyGeometry = new THREE.BoxGeometry(5000, 5000, 5000);
    //设置盒子材质
    var materialArray = [];
    for (var i = 0; i < 6; i++)
      materialArray.push(new THREE.MeshBasicMaterial({
        map: THREE.ImageUtils.loadTexture(path + directions[i] + format), //将图片纹理贴上
        side: THREE.BackSide /*镜像翻转，如果设置镜像翻转，那么只会看到黑漆漆的一片，因为你身处在盒子的内部，所以一定要设置镜像翻转。*/
      }));
    var skyMaterial = new THREE.MeshFaceMaterial(materialArray);
    var skyBox = new THREE.Mesh(skyGeometry, skyMaterial); //创建一个完整的天空盒，填入几何模型和材质的参数
    scene.add(skyBox); //在场景中加入天空盒
  }

  // TODO: 初始化模型函数
  function initModel(model_file, model_obj, posx, posy, posz, scalea, scaleb, scalec) {
    var mtlLoader = new THREE.MTLLoader();

    mtlLoader.setPath('{{ url_for("static", filename="threelib/models/") }}');
    // mtlLoader.setPath("../threelib/models/");
    //加载mtl文件
    mtlLoader.load(model_file+'.mtl', function (material) {
        var objLoader = new THREE.OBJLoader();
        //设置当前加载的纹理
        objLoader.setMaterials(material);
        objLoader.setPath('{{ url_for("static", filename="threelib/models/") }}');
        // objLoader.setPath("../threelib/models/");
        objLoader.load(model_file+'.obj', function (object) {
            models = object;
            object.position.x = posx;
            object.position.y = posy;
            object.position.z = posz;
            object.scale.set(scalea, scaleb, scalec);
            scene.add(object);
            models_arr[model_obj] = object;    

            setupTween();
            render();
        });
    });
    return models;
}

  //新建光源
  function initLight() {
    light = new THREE.PointLight(0xffffff);
    light.position.set(300, 400, 200);
    scene.add(light);
    scene.add(new THREE.AmbientLight(0xffffff));
  }

  //定义地板
  function initFloor() {
  //添加地板割线
  var grid = new THREE.GridHelper( 2000, 20, 0xffffff, 0xffffff );
  grid.material.opacity = 0.2;
  grid.material.transparent = true;
  grid.position.y = 100;
  scene.add( grid );
}
  function initTools() {
    //新建坐标系
    var ax = new THREE.AxesHelper(100000);
    scene.add(ax);
  }


  function setupTween() {
    ground = models_arr['ground'];
		ground.rotation.x = -0.5*Math.PI;
		ground.scale.x = 10;
		ground.scale.y = 10;
		ground.scale.z = 10;
  }

  function initCamera() {
    camera = new THREE.PerspectiveCamera(40, 800 / 600, 1, 6000);
    camera.position.set(500, 500, 500)
    camera.lookAt(scene.position)
    //新建渲染器
    renderer = new THREE.WebGLRenderer();
    renderer.setSize(window.innerWidth, window.innerHeight);

    document.getElementById("WebGl-output").appendChild(renderer.domElement);
  }

  function control() {
    //添加轨道控制器
    //新建一个轨道控制器
    orbitControls = new THREE.OrbitControls(camera, renderer.domElement);
    orbitControls.target = new THREE.Vector3(0, 0, 0); //控制焦点
    orbitControls.autoRotate = false; //将自动旋转关闭
    clock = new THREE.Clock(); //用于更新轨道控制器

    //创建gui控制栏
    var controls = new function () {
      this.tankpostationx = 0.00;
      this.tankpostationy = 0.00;
      this.tankpostationz = 0.00;
    };

    var gui = new dat.GUI();
    gui.add(controls, 'tankpostationx', -5, 5);
    gui.add(controls, 'tankpostationy', -5, 5);
    gui.add(controls, 'tankpostationz', -5, 5);
  }
  //  渲染3D界面
  function move(o, axis, speed){
    o = parseInt(o);
    if(o > axis){
      o -= speed;
    }
    if(o < axis){
      o += speed;
    }
    return o;
  }

  function render() {
    requestAnimationFrame(render);
    // TWEEN.update();
    stats.update();
   
    if (jsonData[sysTime]) {
      for(var i in jsonData[sysTime]){
        ctrlModels[i] = i;
        allPosx[i] = jsonData[sysTime][i].x;
        allPosy[i] = jsonData[sysTime][i].y;
        allPosz[i] = jsonData[sysTime][i].z;
        if(CALC_SPEED){
          moveSpeedX[i] = Math.abs(models_arr[i].position.x - allPosx[i])*0.02;
          moveSpeedY[i] = Math.abs(models_arr[i].position.y - allPosy[i])*0.02;
          moveSpeedZ[i] = Math.abs(models_arr[i].position.z - allPosz[i])*0.02;
        }
      }
      CALC_SPEED = false;
    }
    if(ctrlModels){
      for(var i in ctrlModels){
        models_arr[i].position.z = move(models_arr[i].position.z, allPosz[i], moveSpeedZ[i]);
        models_arr[i].position.x = move(models_arr[i].position.x, allPosx[i], moveSpeedX[i]);
        models_arr[i].position.y = move(models_arr[i].position.y, allPosy[i], moveSpeedY[i]);
        console.log(models_arr[i].position.x);
        console.log(models_arr[i].position.y);
        console.log(models_arr[i].position.z);
      }

    }


    /*if (jsonData[sysTime]) { //如果这个时间点有数据，就更新小车位置参数
      tank_axisx = jsonData[sysTime].x;
      tank_axisy = jsonData[sysTime].y;
      tank_axisz = jsonData[sysTime].z;
    }
    console.log(sysTime);
    if (tank1.position.x > tank_axisx) {
      tank1.position.x -= 10;
    }
    if (tank1.position.x < tank_axisx) {
      tank1.position.x += 10;
    }
    if (tank1.position.y > tank_axisy) {
      tank1.position.y -= 10;
    }
    if (tank1.position.y < tank_axisy) {
      tank1.position.y += 10;
    }
    if (tank1.position.z > tank_axisz) {
      tank1.position.z -= 10;
    }
    if (tank1.position.z < tank_axisz) {
      tank1.position.z += 10;
    }*/
    renderer.render(scene, camera);
  }
  //定义json数据
  var models_json_test = '{"models" : [' +
    '{"model_file" : "k4" , "model_obj" : "k41" , "posx" : "0" , "posy" : "0" , "posz" : "0" , "scalea" : "20" , "scaleb" : "20" , "scalec" : "20"},' +
    '{"model_file" : "terrain" , "model_obj" : "ground" , "posx" : "0" , "posy" : "0" , "posz" : "-100" , "scalea" : "1" , "scaleb" : "1" , "scalec" : "1"},' +
    '{"model_file" : "k4" , "model_obj" : "k42" , "posx" : "100" , "posy" : "0" , "posz" : "0" , "scalea" : "20" , "scaleb" : "20" , "scalec" : "20"},' +
    '{"model_file" : "tk2" , "model_obj" : "tk2" , "posx" : "0" , "posy" : "0" , "posz" : "0" , "scalea" : "20" , "scaleb" : "20" , "scalec" : "20"}]}'
  var models_json = JSON.parse(models_json_test);

  /**
   * [ 进度条--功能实现 ]
   * @ Author: 马瑞华 [ time: 2018-08-10 ]
   * @ Revision: 马瑞华 [ time: 2018-08-10 ]  [ desc ]
   * @ Version: 1.0
   * 
   * @ func:  { ctrlTrack }  { 拖动进度条后对时间戳等的计算 }
   * @ func:  { mosDown }  { 鼠标点击事件 }
   * @ func:  { mosMove }  { 鼠标移动事件 }
   * @ func:  { mosUp }  { 鼠标抬起，清空点击和移动的事件 }
   * @ func:  { stopBubble }  { 阻止事件冒泡 }
   */
 
  /**
   * func: ctrlTrack
   * @ desc:  滑动进度条，通过进度条的轨迹占总进度条的百分比，计算对应的时间戳
   * @ Author:   马瑞华 [ time: 2018-08-10 ]
   * @ Revision: name [ time: XX-XX-XX ] [ desc ]
   * 
   * @ param:    { type }  { desc }
   * @ return:   { type }  { desc }
   */

  // TODO: 
  var model_move_arr = [];
  function ctrlTrack() {
    // DONE: 实时刷新鼠标点击事件后的模型坐标
    pastTime = Math.floor((sysTime - rgMin) / 1000);
    currentWidth = pastTime / rgTime * 100;
    sysTime += 1000;

    if(jsonData[sysTime]){
      CALC_SPEED = true;
    }

    if (sysTime - 1000 === parseInt(rgMax)) {
      rgTrack.style.right = 0 + '%';
      sysTime = parseInt(rgMax);
    }

    if (signal) {
      currentWidth = trackWidth / range.offsetWidth * 100;
      if (currentWidth >= 100) {
        currentWidth = 100;
      }
      if (currentWidth <= 0) {
        currentWidth = 0;
      }
      sysTime = rgMin * 1 + Math.floor(rgTime * (currentWidth / 100)) * 1000;
      signal = false;
    }
    rgTrack.style.right = 100 - currentWidth + '%';
    
    var model_move_arr = [];
   
  }

  range.addEventListener('mousedown', mosDown);
  function mosDown(ev) {
    var ev = ev || window.event;
    disX = ev.clientX - range.offsetLeft;
    document.onmousemove = mosMove;
    document.onmouseup = mosUp;
    rgTrack.style.transition = '0s';
    clearInterval(timer);
    stopBubble();
  }

  function mosMove(ev) {
    //var ev = ev || window.event;
    trackWidth = ev.clientX - range.offsetLeft + 400;
    currentWidth = trackWidth / range.offsetWidth * 100;
    if (currentWidth <= 0) {
      currentWidth = 0;
    } else if (currentWidth >= 100) {
      currentWidth = 100;
    }
    rgTrack.style.right = (100 - currentWidth) + '%'; // > **%
    if (trackWidth > range.offsetWidth) {
      rgTrack.style.right = 0 + '%';
    }

    sysTime = rgMin * 1 + Math.floor(rgTime * (currentWidth / 100)) * 1000;
  }

  function mosUp() {
    document.onmousemove = null;
    document.onmouseup = null;
    rgTrack.style.transition = '1s linear';
    signal = true;
    timer = setInterval(ctrlTrack, 1000);
  }

  function stopBubble(ev) {
    // 阻止事件冒泡
    var oEvent = ev || event;
    if (window.event) {
      oEvent.cancelBubble = true;
    } else {
      oEvent.stopPropagation();
    }
  }

  /**
   * func: init()
   * @ desc: 3D界面初始化
   * @ Author: 汤睿 [ time: 2018-08-10 ]
   * @ Revision: 马瑞华 [ time: 2018-08-13]  [ 增加了用tween.js驱动模型的函数 setupTween() ]
   * 
   * @ return:   none
   */
  function init() {
    initScene();
    initCamera();
    initLight();
    initFloor();
    // initSkybox();
    initstats();
    initTools();
    //循环加载模型
    for (var i = 0; i < models_json.models.length; i++) {
      var model_file = models_json.models[i].model_file;
      var model_obj = models_json.models[i].model_obj,
        posx = models_json.models[i].posx,
        posy = models_json.models[i].posy,
        posz = models_json.models[i].posz,
        scalea = models_json.models[i].scalea,
        scaleb = models_json.models[i].scaleb,
        scalec = models_json.models[i].scalec;
      initModel(model_file, model_obj, posx, posy, posz, scalea, scaleb, scalec);
    }

    //initfbxmodels();
    // setupTween();
    
    control();
    // render();
  }

  init();
  })();
  
	</script>
</body>

</html>